.heading {
  display: flex;
}

.heading > div {
  flex: 1;
}

.heading .feeTable {
  width: 100%;
}

.heading .feeTable th {
  width: 20%;
  text-align: right;
}

.heading .feeTable td {
  padding-left: 1em;
}

.heading .feeTable .value {
  margin-left: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  text-align: left;
}

.table th {
  color: black;
}

table.financial {
  margin-top: 1rem;
  border-spacing: 0px;
  border-collapse: separate;
}

table.financial td:first-child,
table.financial th:first-child {
  width: 35%;
}

table.financial td,
table.financial th {
  text-align: left;
  padding-right: 1rem;
}

table.financial td.currency {
  position: relative;
  text-align: right;
}

.currency:before {
  content: "$";
  position: absolute;
  left: 0;
}

.borderTop {
  border-top: 1px solid black;
}

.borderBottomHeavy {
  border-bottom: 3px solid black;
}
